<% content_for :proposition do %>
  <%= erb :"partials/proposition_static" %>
<% end %>

<% content_for :related_link do %>
  <%= erb :"partials/related_links_tax" %>
<% end %>

<% content_for :page_title do %>
  <%= @page_title %>
<% end %>

<% content_for :page_type do %>
  multi-page
<% end %>

<div class="article-container group">
  <aside>
    <div class="inner">
      <a href="#" class="show-all-parts">Show all parts of this guide</a>
      <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
        <%= erb :"articles/tax_on_your_pension/nav" %>
      </nav>
    </div>
  </aside>
  <article role="article" class="group">
    <div class="inner">

      <header>
        <h1>1. <%= @page_title_1 %></h1>
      </header>

      <div id="govspeak">
        <p>When you get a pension you pay income tax on it, just like you do on your salary when you work.</p>

        <p><a href="/tax-on-your-pension/3">How much tax you pay</a> depends on your total income. This includes money from your pension and any other income you might have, eg from work, property, investments etc.</p>

        <p>The only difference is that you can <a href="/tax-on-your-pension/2">take part of your pension pot tax-free</a>.</p>

        <div class="application-notice info-notice">
          <p>Use the <a href="/pension-tax-calculator">Pension tax calculator</a> to find out how much tax you pay if you cash in your whole pot.</p>
        </div>

      </div>

      <footer>
        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul class="group">
            <li class="next">
              <a href="2" rel="next" title="Navigate to next part">
                <span class="pagination-label">Next</span>
                <span class="pagination-part-title"><%= @page_title_2 %></span>
              </a></li>
          </ul>
        </nav>
      </footer>

      <div class="print-link">
        <a href="/after-a-death/print" rel="nofollow" target="_blank">Print
          entire guide</a></div>

    </div>
  </article>


  <div class="meta-data group">
    <!-- <div class="inner"> -->
    <p class="modified-date">Last updated: 27 October 2014</p>
    <!-- </div> -->
  </div>


</div>
