<% content_for :related_link do %>
  <%= erb :"partials/related_links_tax" %>
<% end %>

<% content_for :page_title do %>
  <%= @page_title %>
<% end %>

<% content_for :page_type do %>
  multi-page
<% end %>

<div class="article-container group">
  <aside>
    <div class="inner">
      <a href="#" class="show-all-parts">Show all parts of this guide</a>
      <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
        <%= erb :"articles/tax_on_your_pension/nav" %>
      </nav>
    </div>
  </aside>
  <article role="article" class="group">
    <div class="inner">

      <header>
        <h1>1. <%= @page_title_1 %></h1>
      </header>

      <div id="govspeak">
        <p>
          When you get a pension you pay Income Tax on any money above your tax-free
          <a rel="external" href="http://www.gov.uk/income-tax-rates/personal-allowances">Personal Allowance</a>,
          just like you do on your salary.
        </p>

        <p>
          The only difference is that you can also <a href="/tax-on-your-pension/2">take part of your pension pot tax-free</a>.
          This is on top of your <span class="tooltip" title="The amount of income you can get tax free, before tax starts being applied to it">Personal Allowance</span>.
        </p>

        <p>
          <a href="/tax-on-your-pension/4">How much tax you pay</a> depends on your total income and the
          <a rel="external" href="http://www.gov.uk/income-tax-rates">tax rate</a> that applies to you.
        </p>

        <p>Your income may include:</p>

        <ul>
          <li>any money you get from your pension pot, eg as an <a href="/your-options/5">annuity</a> or <a href="/your-options/3">cash</a>
          </li>
          <li>the State Pension</li>
          <li>earnings from employment or self employment</li>
          <li>any other income, money from rental income</li>
          <li>any taxable benefits you might get, eg Carer’s Allowance</li>
        </ul>

        <p>If you leave your pension pot untouched and don’t take any money out, you don’t pay tax on it.</p>

        <div class="application-notice info-notice">
          <p>Use the <a href="/pension-tax-calculator">Pension tax calculator</a> to find out how much tax you pay if you cash in your whole pot.</p>
        </div>

      </div>

      <footer>
        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul class="group">
            <li class="next">
              <a href="2" rel="next" title="Navigate to next part">
                <span class="pagination-label">Next</span>
                <span class="pagination-part-title"><%= @page_title_2 %></span>
              </a></li>
          </ul>
        </nav>
      </footer>

      <div class="print-link">
        <a href="/edge" rel="nofollow" target="_blank">Print
          entire guide</a></div>

    </div>
  </article>


  <div class="meta-data group">
    <!-- <div class="inner"> -->
    <p class="modified-date">Last updated: 27 October 2014</p>
    <!-- </div> -->
  </div>


</div>
