<% content_for :proposition do %>
  <%= erb :"partials/proposition_static" %>
<% end %>

<% content_for :related_link do %>
  <%= erb :"partials/related_links_tax" %>
<% end %>

<% content_for :page_title do %>
  <%= @page_title %>
<% end %>

<% content_for :page_type do %>
  multi-page
<% end %>


<div class="article-container group">
  <aside>
    <div class="inner">
      <a href="#" class="show-all-parts">Show all parts of this guide</a>
      <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
        <%= erb :"articles/tax_on_your_pension/nav" %>
      </nav>
    </div>
  </aside>
  <article role="article" class="group">
    <div class="inner">

      <header>
        <h1>2. <%= @page_title_2 %></h1>
      </header>

      <div id="govspeak">
        <p>You can take part of your pension pot as a tax-free lump sum. Most pension schemes offer this.</p>

        <p>There are 3 ways you can take your tax-free lump sum:</p>

        <ul>
          <li>take 25% of your whole pot and take the rest in form of an <a href="/your-options/5">annuity</a> or <a href="/your-options/4">income drawdown</a></li>
          <li>take 25% tax-free and the rest as cash - you’ll have to pay tax on the remaining 75%</li>
          <li>take smaller sums from your pot and get 25% tax-free with each sum - you would leave the money in your pension fund and could still pay into the fund</li>
        </ul>

        <div class="application-notice info-notice">
          <p>Use the <a href="/pension-tax-calculator">Pension tax calculator</a> to find out how much you get after tax if you cash in your whole pot.</p>
        </div>

      </div>

      <footer>
        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul class="group">
            <li class="previous">
              <a href="1" rel="prev" title="Navigate to previous part">
                <span class="pagination-label">Previous </span>
                <span class="pagination-part-title"><%= @page_title_1 %></span>
              </a></li>
            <li class="next">
              <a href="3" rel="next" title="Navigate to next part">
                <span class="pagination-label">Next</span>
                <span class="pagination-part-title"><%= @page_title_3 %></span>
              </a></li>
          </ul>
        </nav>
      </footer>

      <div class="print-link">
        <a href="/after-a-death/print" rel="nofollow" target="_blank">Print
          entire guide</a></div>

    </div>
  </article>


  <div class="meta-data group">
    <!-- <div class="inner"> -->
    <p class="modified-date">Last updated: 27 October 2014</p>
    <!-- </div> -->
  </div>


</div>
