<% content_for :related_link do %>
  <%= erb :"partials/related_links_tax" %>
<% end %>

<% content_for :page_title do %>
  <%= @page_title %>
<% end %>

<% content_for :page_type do %>
  multi-page
<% end %>


<div class="article-container group">
  <aside>
    <div class="inner">
      <a href="#" class="show-all-parts">Show all parts of this guide</a>
      <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
        <%= erb :"articles/tax_on_your_pension/nav" %>
      </nav>
    </div>
  </aside>
  <article role="article" class="group">
    <div class="inner">

      <header>
        <h1>3. <%= @page_title_3 %></h1>
      </header>

      <div id="govspeak">
        <p>
          Your Income Tax for the year depends on your <a rel="external" href="http://www.gov.uk/income-tax-rates">tax rate</a>
          and tax-free <a rel="external" href="http://www.gov.uk/income-tax-rates/personal-allowances">Personal Allowance</a>
          that everyone gets.
        </p>

        <p>The Personal Allowance is on top of your 25% tax-free lump sum.</p>

        <h2 id="calculating-your-income-tax">Calculating your Income Tax</h2>

        <p>To figure out how much tax you’ll pay do the following:</p>

        <ol class="steps">
          <li>
            <p>Take the 25% you get tax free away from your pension pot.</p>
          </li>
          <li>
            <p>Add your other income to the amount of the remaining 75% from your pension pot.</p>
          </li>
          <li>
            <p>Take your <a rel="external" href="http://www.gov.uk/income-tax-rates/personal-allowances">tax-free Personal Allowance</a> away from this amount.</p>
          </li>
          <li>
            <p>Check your <a rel="external" href="http://www.gov.uk/income-tax-rates/income-tax-rates">tax rate</a> to calculate how much tax you’ll pay for the year.</p>
          </li>
        </ol>

        <div class="example">
          <p><strong>Example:</strong>
            You’ve decided to take your whole pot as cash.</p>

          <h3 id="add-up-all-your-income">1. Take 25% away from your pension pot</h3>
          <p>25% of £60,000 is £15,000</p>
          <p>This leaves £45,000</p>

          <h3 id="work-out-your-tax-free-allowances">2. Add your other income</h3>
          <p>£45,000 plus £7,000 = £52,000</p>

          <h3 id="take-away-the-tax-free-allowances">3. Take away your tax-free allowance</h3>
          <p>You were born after 5 April 1948.</p>
          <p>Your Personal Allowance is £10,000.</p>
          <p>£52,000 minus £10,000 = £42,000</p>
          <p>This is your total taxable income for the year.</p>

          <h3 id="check-your-tax-rate">4. Check your tax rate</h3>
          <p>You pay 20% on income up to £31,865 = £6,373.</p>
          <p>You pay 40% on the remaining £10,135 = £4,054</p>
          <p>Total tax you pay for the year: £10,427</p>
        </div>

      </div>

      <footer>
        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul class="group">
            <li class="previous">
              <a href="2" rel="prev" title="Navigate to previous part">
                <span class="pagination-label">Previous </span>
                <span class="pagination-part-title"><%= @page_title_2 %></span>
              </a></li>
            <li class="next">
              <a href="4" rel="next" title="Navigate to next part">
                <span class="pagination-label">Next</span>
                <span class="pagination-part-title"><%= @page_title_4 %></span>
              </a></li>
          </ul>
        </nav>
      </footer>

      <div class="print-link">
        <a href="/edge" rel="nofollow" target="_blank">Print
          entire guide</a></div>

    </div>
  </article>


  <div class="meta-data group">
    <!-- <div class="inner"> -->
    <p class="modified-date">Last updated: 27 October 2014</p>
    <!-- </div> -->
  </div>


</div>
