<% content_for :related_link do %>
  <%= erb :"partials/related_links_tax" %>
<% end %>

<% content_for :page_title do %>
  <%= @page_title %>
<% end %>

<% content_for :page_type do %>
  multi-page
<% end %>


<div class="article-container group">
  <aside>
    <div class="inner">
      <a href="#" class="show-all-parts">Show all parts of this guide</a>
      <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
        <%= erb :"articles/tax_on_your_pension/nav" %>
      </nav>
    </div>
  </aside>
  <article role="article" class="group">
    <div class="inner">

      <header>
        <h1>3. <%= @page_title_3 %></h1>
      </header>

      <div id="govspeak">
        <p>You pay tax on all of the following pension income:</p>

        <ul>
          <li>cash payments above your tax-free lump sum of 25%, eg when you take your whole pot</li>
          <li>any money you take while you leave your pension pot invested (<span class="tooltip" title="Your pension pot stays invested and you take money out when you need it">income drawdown</span> payments)</li>
          <li>payments you get from arranging a regular income (<span class="tooltip" title="Gives you a regular income in your retirement">annuity</span>)</li>
          <li>payments from the State Pension</li>
        </ul>

        <p>You also pay tax on income from working, investments etc:</p>

        <ul>
          <li>anything you earn if you carry on working (even if part-time)</li>
          <li>any other income, eg money from investments, property, savings</li>
          <li>any benefits that you need to pay tax on (eg Carer’s Allowance, Jobseeker’s Allowance)</li>
        </ul>

        <p>If you leave your pension pot untouched and don’t take any money out, you don’t pay tax on it.</p>

      </div>

      <footer>
        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul class="group">
            <li class="previous">
              <a href="2" rel="prev" title="Navigate to previous part">
                <span class="pagination-label">Previous </span>
                <span class="pagination-part-title"><%= @page_title_2 %></span>
              </a></li>
            <li class="next">
              <a href="4" rel="next" title="Navigate to next part">
                <span class="pagination-label">Next</span>
                <span class="pagination-part-title"><%= @page_title_4 %></span>
              </a></li>
          </ul>
        </nav>
      </footer>

      <div class="print-link">
        <a href="/edge" rel="nofollow" target="_blank">Print
          entire guide</a></div>

    </div>
  </article>


  <div class="meta-data group">
    <!-- <div class="inner"> -->
    <p class="modified-date">Last updated: 27 October 2014</p>
    <!-- </div> -->
  </div>


</div>
