<% content_for :related_link do %>
  <%= erb :"partials/related_links_tax" %>
<% end %>

<% content_for :page_title do %>
  <%= @page_title %>
<% end %>

<% content_for :page_type do %>
  multi-page
<% end %>


<div class="article-container group">
  <aside>
    <div class="inner">
      <a href="#" class="show-all-parts">Show all parts of this guide</a>
      <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
        <%= erb :"articles/tax_on_your_pension/nav" %>
      </nav>
    </div>
  </aside>
  <article role="article" class="group">
    <div class="inner">

      <header>
        <h1>4. <%= @page_title_4 %></h1>
      </header>

      <div id="govspeak">
        <p>Your Income Tax for the year depends on your tax rate and tax-free Personal Allowance.</p>

        <p>You can use the <a href="/pension-tax-calculator">Pension tax calculator</a> to work out how much tax you pay if you cash in your whole pot.</p>

        <h2 id="tax-free-personal-allowance">Tax-free Personal Allowance</h2>
        <p>The Personal Allowance is on top of your 25% tax-free lump sum.</p>

        <p>The Personal Allowance is currently £10,000 for anyone born after 5 April 1948 and with an income under £100,000.</p>

        <p>If you were born before then or your income is higher you get a different <a href="www.gov.uk/income-tax-rates/personal-allowances">Personal Allowance</a>.</p>

        <p>If you’re blind you might also get <a href="www.gov.uk/blind-persons-allowance">Blind Person’s Allowance</a></p>

        <h2 id="tax-rates">Tax rates</h2>

        <p>These are the rates for the tax year 2014 to 2015:</p>

        <table>
          <tbody>
          <tr>
            <td>Tax rate</td>
            <td>Income after your Personal Allowance</td>
          </tr>
          <tr>
            <td>20%</td>
            <td>£0 to £31,865</td>
          </tr>
          <tr>
            <td>40%</td>
            <td>£31,866 to £150,000</td>
          </tr>
          <tr>
            <td>45%</td>
            <td>over £150,000</td>
          </tr>
          </tbody>
        </table>

        <h2 id="calculating-your-income-tax">Calculating your Income Tax</h2>

        <p>To figure out how much tax you’ll pay do the following:</p>

        <ol class="steps">
          <li>
            <p>Add up all your <a href="/tax-on-your-pension/1">taxable income</a>, including your pension.</p>
          </li>
          <li>
            <p>Work out your <a href="www.gov.uk/income-tax-rates">tax-free allowances</a>.</p>
          </li>
          <li>
            <p>Take your tax-free allowances away from your income. This includes the 25% you can get tax free from your pension pot.</p>
          </li>
          <li>
            <p>Check your tax rate to calculate how much tax you pay on the remaining income.</p>
          </li>
        </ol>

        <div class="example">
          <p><strong>Example:</strong>
            You have decided to take your whole pot as cash.</p>

          <h2 id="add-up-all-your-income">1. Add up all your income</h2>
          <p>You have a pension pot of £60,000.
            You work part-time and make £7,000 a year.</p>

          <p>Your total taxable income for the year is £67,000</p>

          <h2 id="work-out-your-tax-free-allowances">2. Work out your tax-free allowances</h2>
          <p>You were born after 5 April 1948. Your Personal Allowance is £10,000.
            In addition you can take 25% of your pension pot tax free which is £15,000.</p>

          <h2 id="take-away-the-tax-free-allowances">3. Take away the tax free allowances</h2>

          <p>Total income: £67,000
            - Tax-free allowance: £10,000
            - 25% you can take tax free from your pension pot: £15,000</p>

          <p>Income you pay tax on: £42,000</p>

          <h2 id="check-your-tax-rate">4. Check your tax rate</h2>
          <p>You pay 20% on income up to £31,865 = £6,373.
            You pay 40% on the remaining £10,135 = £4,054</p>

          <p>Total tax you pay for the year: £10,427</p>
        </div>

      </div>

      <footer>
        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul class="group">
            <li class="previous">
              <a href="3" rel="prev" title="Navigate to previous part">
                <span class="pagination-label">Previous </span>
                <span class="pagination-part-title"><%= @page_title_3 %></span>
              </a></li>
            <li class="next">
              <a href="5" rel="next" title="Navigate to next part">
                <span class="pagination-label">Next</span>
                <span class="pagination-part-title"><%= @page_title_5 %></span>
              </a></li>
          </ul>
        </nav>
      </footer>

      <div class="print-link">
        <a href="/after-a-death/print" rel="nofollow" target="_blank">Print
          entire guide</a></div>

    </div>
  </article>


  <div class="meta-data group">
    <!-- <div class="inner"> -->
    <p class="modified-date">Last updated: 27 October 2014</p>
    <!-- </div> -->
  </div>


</div>
