<% content_for :related_link do %>
  <%= erb :"partials/related_links_tax" %>
<% end %>

<% content_for :page_title do %>
  <%= @page_title %>
<% end %>

<% content_for :page_type do %>
  multi-page
<% end %>


<div class="article-container group">
  <aside>
    <div class="inner">
      <a href="#" class="show-all-parts">Show all parts of this guide</a>
      <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
        <%= erb :"articles/tax_on_your_pension/nav" %>
      </nav>
    </div>
  </aside>
  <article role="article" class="group">
    <div class="inner">

      <header>
        <h1>5. <%= @page_title_5 %></h1>
      </header>

      <div id="govspeak">
        <h2 id="tax-on-your-pension-income">Tax on your pension income</h2>
        <p>Any money you you get from a pension provider will be paid to you with the tax already taken off. This goes for <span class="tooltip" title="Your pension pot stays invested and you take money out when you need it">income drawdown</span>, <span class="tooltip" title="Gives you a regular income in your retirement">annuity</span>, or cash payments.</p>

        <p>The pension provider will also pay the tax on your State Pension.</p>

        <h2 id="if-you-continue-to-work">If you continue to work</h2>
        <p>Your employer will pay the tax on your salary and your State Pension.</p>

        <p>If you’re self-employed you have to fill in a <a href="www.gov.uk/self-assessment-tax-returns">Self-Assessment tax return</a>, declaring all your income.</p>

        <h2 id="if-you-have-other-income">If you have other income</h2>
        <p>You’re responsible for paying tax on other income you have, eg from property or investments. You might have to fill in a  <a href="www.gov.uk/self-assessment-tax-returns">Self-Assessment tax return</a>.</p>

      </div>

      <footer>
        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul class="group">
            <li class="previous">
              <a href="4" rel="prev" title="Navigate to previous part">
                <span class="pagination-label">Previous </span>
                <span class="pagination-part-title"><%= @page_title_4 %></span>
              </a></li>
          </ul>
        </nav>
      </footer>

      <div class="print-link">
        <a href="/edge" rel="nofollow" target="_blank">Print
          entire guide</a></div>

    </div>
  </article>


  <div class="meta-data group">
    <!-- <div class="inner"> -->
    <p class="modified-date">Last updated: 27 October 2014</p>
    <!-- </div> -->
  </div>


</div>
