<ol>
  <li<% if @page == '1' %> class="active"<% end %>>
    <span class="part-number">1.</span>
    <% if @page == '1' %>
      <span>
        <%= @page_title_1 %>
      </span>
    <% else %>
      <a href="1">
        <%= @page_title_1 %>
      </a>
    <% end %>
  </li>
  <li<% if @page == '2' %> class="active"<% end %>>
    <span class="part-number">2.</span>
    <% if @page == '2' %>
      <span>
        <%= @page_title_2 %>
      </span>
    <% else %>
      <a href="2">
        <%= @page_title_2 %>
      </a>
    <% end %>
  </li>
</ol>
<ol start="3">
  <li<% if @page == '3' %> class="active"<% end %>>
    <span class="part-number">3.</span>
    <% if @page == '3' %>
      <span>
        <%= @page_title_3 %>
      </span>
    <% else %>
      <a href="3">
        <%= @page_title_3 %>
      </a>
    <% end %>
  </li>
  <li<% if @page == '4' %> class="active"<% end %>>
    <span class="part-number">4.</span>
    <% if @page == '4' %>
      <span>
        <%= @page_title_4 %>
      </span>
    <% else %>
      <a href="4">
        <%= @page_title_4 %>
      </a>
    <% end %>
  </li>
</ol>
