<% content_for :proposition do %>
  <%= erb :"partials/proposition" %>
<% end %>

<% content_for :page_title do %>
  You’ve successfully booked a pension guidance session
<% end %>

<article role="article" class="group">


  <div class="inner-block">

    <div class="session-intro">
      <div class="print-link">
        <a href="#" rel="nofollow">Print</a>
      </div>
      <p class="lede">An email has been sent to <%= @email %></p>
    </div>

    <div class="session-ticket">
      <div class="inner-block">
        <h2 class="heading-medium">Your pension guidance session</h2>

        <div class="session-ticket__reference">
          <h3 class="heading-small">Reference</h3>

          <div class="bold-medium">PG1234</div>
        </div>

        <div class="grid-wrapper grid-demo">
          <div class="grid grid-1-2">
            <div class="inner-block">

              <h3 class="heading-small">Date</h3>

              <div class="session-ticket__highlight bold-large">
                <%= @sessions.first.strftime('%e %B %Y') %>
              </div>


              <div class="session-ticket_time-duration-wrapper">

                <div class="session-ticket_time">
                  <h3 class="heading-small">Time</h3>

                  <div class="session-ticket__highlight bold-large">
                    <%= @sessions.first.strftime('%l%P') %>
                  </div>
                </div>

                <div class="session-ticket_duration">
                  <h3 class="heading-small">Session lasts</h3>

                  <div class="session-ticket__highlight bold-large">1 hr
                  </div>
                </div>
              </div>


              <h3 class="heading-small">We'll call you on</h3>

              <div class="session-ticket__highlight bold-large">
                <%= @phone %>
              </div>

            </div>
          </div>
          <div class="grid grid-1-2">
            <div class="inner-block">
              <h3 class="heading-small">What you need for your session</h3>

              <p>You'll need to have ready:</p>

              <ul class="list-bullet">
                <li>the value of your pension pots</li>
                <li>other income you have, eg from work, property, investments</li>
                <li>your pension statements</li>
              </ul>



              <p>This will help our experts to prepare for your call.</p>

            </div>
          </div>
        </div>

        <div class="grid-wrapper grid-demo">
          <div class="grid grid-1-2">
            <div class="inner-block">
              <h3 class="heading-small">If you do not answer the call</h3>

              <p>We won't call you back. You'll need to book another
                session.</p>

            </div>
          </div>
          <div class="grid grid-1-2">
            <div class="inner-block">
              <h3 class="heading-small">How to cancel</h3>

              <p>Send an email with your name and the date and time of your
                session to:
                <a href="mailto:cancel-pension-session@hmt.gov.uk">cancel-pension-session@hmt.gov.uk</a>
              </p>
            </div>
          </div>
        </div>


      </div>
    </div>


  </div>
</article>
