<% content_for :proposition do %>
  <%= erb :"partials/proposition_transaction" %>
<% end %>

<% content_for :page_title do %>
  Check your booking
<% end %>

<% content_for :body_class do %>
  hide-search
<% end %>

<article role="article" class="group">

  <div class="inner-block">
    <p class="lede text">Review these details carefully before confirming.</p>

    <div class="divider">
      <div class="grid-wrapper">
        <div class="grid grid-2-3">
          <div class="inner-block">
            <h2>Your details</h2>
            <p>
              <span class="info-label">First name:</span>
              <span class="info-data"><%= @name %></span>
            </p>

            <p>
              <span class="info-label">Last name:</span>
              <span class="info-data"><%= @surname %></span>
            </p>

            <p>
              <span class="info-label">Email:</span>
              <span class="info-data"><%= @email %></span>
            </p>

            <p>
              <span class="info-label">Phone:</span>
              <span class="info-data"><%= @phone %></span>
            </p>
          </div>
        </div>
        <div class="grid grid-1-3">
          <div class="inner-block">
            <p class="edit-link"><a href="/contact-details">Change your details</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="divider divider--last">
      <div class="grid-wrapper">
        <div class="grid grid-2-3">
          <div class="inner-block">
            <h2>Your session</h2>

            <p>
              <span class="info-label">Date and time:</span>
              <span class="info-data"><%= @sessions.first.strftime('%A, %e %B at %l%P') %></span>
            </p>

          </div>
        </div>
        <div class="grid grid-1-3">
          <div class="inner-block">
            <p class="edit-link"><a href="/book-a-session">Choose a different session</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="inner-block">
    <form action="/send-request" method="post" class="form">
      <input type="submit" class="button" value="Complete booking">
    </form>
  </div>
</article>
