<% content_for :page_title do %>
  Check your booking
<% end %>

<article role="article" class="group">
  <div class="inner-block">
    <h2>Your details</h2>
    <p>First name: <%= @name %></p>
    <p>Last name: <%= @surname %></p>
    <p>Email: <%= @email %></p>
    <p>Phone: <%= @phone %></p>
    <p><a href="/contact-details">Change your details</a></p>

    <h2>Your Session</h2>
    <p>You will receive a call from one of our pension specialists on:</p>
    <ul>
        <% @slots.reject(&:empty?).each do |slot| %>
            <li><%= slot %></li>
        <% end %>
    </ul>
    <p><a href="/book-a-session">Change your session</a></p>

    <form action="/send-request" method="post" class="form">
      <input type="submit" class="button" value="Complete booking">
    </form>
  </div>
</article>
