<% content_for :proposition do %>
  <%= erb :"partials/proposition" %>
<% end %>

<% content_for :page_title do %>
  Check your booking
<% end %>

<article role="article" class="group">
  <div class="inner-block">
    <h2>Your details</h2>
    <p>First name: <%= @name %></p>
    <p>Last name: <%= @surname %></p>
    <p>Email: <%= @email %></p>
    <p>Phone: <%= @phone %></p>
    <p><a href="/contact-details">Change your details</a></p>

    <h2>Date and time of your session</h2>
    <p>One of our pension experts will phone you on:</p>
    <h3><%= @sessions.first.strftime('%A, %e %B at %l%P') %></h3>

    <p>The number will come up as <%= @number %>.</p>

    <p><a href="/book-a-session">Change your session</a></p>

    <form action="/send-request" method="post" class="form">
      <input type="submit" class="button" value="Complete booking">
    </form>
  </div>
</article>
