<!DOCTYPE html>
<html>
<head>
  <title><%= yield_content :page_title %>- GOV.UK</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/prototypes.css">
</head>
<body>

<%= yield_content :proposition %>

<div id="global-breadcrumb" class="header-context">
  <%= erb :"partials/alpha" %>
  <ol role="breadcrumbs" class="group">
    <li><a href="http://www.gov.uk/">Home</a></li>
    <li><a href="/">Pensionwise</a></li>
  </ol>
</div>

<div id="wrapper">
  <main id="content" role="main" class="group <%= yield_content :page_type %>">
    <header class="page-header group">
      <div>
        <% if @current_step %>
        <div class="steps font-medium">Step <%= @current_step %> of 3</div>
        <% end %>
        <h1><%= yield_content :page_title %></h1>
      </div>
    </header>

    <%= yield %>
  </main>


  <% unless @hide_session_promo %>
    <div class="related-positioning">
      <div class="related-container">
        <div class="related" id="related">
          <div class="inner group related-subsection">
            <%= erb :"partials/guidance_session" %>
          </div>

          <%= yield_content :related_link %>
        </div>

      </div>
    </div>
  <% end %>

</div>
</body>
</html>
