<!DOCTYPE html>
<html>
<head>
  <title><%= yield_content :page_title %>- GOV.UK</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/prototypes.css">
</head>
<body class="<%= yield_content :page_type %>">

<%= yield_content :proposition %>



<div id="global-breadcrumb" class="header-context">
  <%= erb :"partials/alpha" %>
</div>

<div id="wrapper">
  <main id="content" role="main" class="group ">

    <div class="block-1 headings-block">
      <header class="banner">
        <div class="grid-wrapper">
          <div class="grid grid-2-3">
            <div class="inner-block">
              <h1 class="bold-large">The Pension Guidance Service</h1>

              <div class="bold-small grey-text">Your money, your retirement
              </div>

              <p class="lede">The Pension Guidance Service is a free government service which
                helps you understand what
                you can do with your pension pot when you retire.</p>
            </div>
          </div>
          <div class="grid grid-1-3">
            <div class="inner-block">
              <aside class="heading-extra">
                <ul class="top-tasks featured-links">

                  <li class="bold-xsmall">
                    <a href="/understanding-pensions/1">Understand your pension
                      type</a></li>
                  <li class="bold-xsmall">
                    <a href="/how-much-in-your-pot">Check the value of your pension pot</a></li>
                  <li class="bold-xsmall">
                    <a href="/tax-on-your-pension/1">Tax you pay on your
                      pension</a></li>
                  <li class="bold-xsmall">
                    <a href="/your-options/overview">Ways to take money from
                      your pension pot</a></li>
                </ul>
              </aside>
            </div>
          </div>
        </div>
      </header>
    </div>

    <%= yield %>
  </main>

</div>
</body>
</html>
