<!DOCTYPE html>
<html>
<head>
  <title><%= yield_content :page_title %>- GOV.UK</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/prototypes.css">
</head>
<body>
<div id="wrapper" class="guide">
  <main id="content" role="main" class="group <%= yield_content :page_type %>">
    <header class="page-header group">
      <div>
        <h1><%= yield_content :page_title %></h1>
      </div>
    </header>

    <%= yield %>
  </main>

  <div class="related-positioning">
    <div class="related-container">

      <div class="related" id="related">
        <div class="inner group related-subsection">
          <%= erb :"partials/guidance_session" %>
        </div>
      </div>
    </div>
  </div>

  <div id="footer" class="fat-footer">
    <div class="footer-wrapper">
      <div class="footer-categories">
        <div class="footer-explore">
          <h2>Top 10 Questions</h2>

          <ul>
            <li><a href="#insert">What can I do with my pension?</a></li>
            <li><a href="#insert">What is a pension?</a></li>
            <li><a href="#insert">What kind of pension do I have?</a></li>
            <li><a href="#insert">How can I find my lost pensions?</a></li>
            <li><a href="#insert">What do I have to do to get my money?</a></li>
            <li><a href="#insert">What assets do I have?</a></li>
            <li><a href="#insert">What will I pay in tax?</a></li>
            <li><a href="#insert">How long does my money need to last?</a></li>
            <li><a href="#insert">What happens to my pension after I die?</a></li>
            <li><a href="#insert">What is a guidance session?</a></li>
          </ul>
        </div>

        <div class="footer-inside-government">
          <h2>Retirement Income</h2>
          <ul>
            <li><a href="#insert">Taking cash</a></li>
            <li><a href="#insert">Taking money out when you need it</a></li>
            <li><a href="#insert">Buying a regular income</a></li>
          </ul>
        </div>
        <hr>
      </div>

    </div>
  </div>



</div>
</body>
</html>
