<% content_for :related_link do %>
  <%= erb :"partials/related_links_shop_around" %>
<% end %>

<% content_for :page_title do %>
  <%= @page_title %>
<% end %>

<% content_for :page_type do %>
  multi-page
<% end %>

<div class="article-container group">
  <aside>
    <div class="inner">
      <a href="#" class="show-all-parts">Show all parts of this guide</a>
      <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
        <%= erb :"articles/#{@folder}/nav" %>
      </nav>
    </div>
  </aside>
  <article role="article" class="group">
    <div class="inner">

      <header>
        <h1>1. <%= @page_title_1 %></h1>
      </header>

      <div id="govspeak">
        <p>Whatever you decide to do with your pension pot, you don’t have to stay with your current pension provider.</p>

        <p>For example, one way to use your pension pot is to buy a guaranteed income for the rest of your life (<a href="/your-options/6">an annuity</a>). You don’t have to buy one from your current provider. Moving your pension pot to another provider could give you access to a wider range of annuities and a higher income.</p>

        <p>The ‘wake-up pack’ from your current provider is likely to include information about their own products. You should use this information as a starting point from which to compare products from other providers.</p>

        <p>Shopping around could increase your retirement income by up to 30%. You can choose to shop around by yourself or get paid-for help from a <a href="/shop-around/4">financial adviser</a>.</p>

      </div>

      <footer>
        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul class="group">
            <li class="next">
              <a href="2" rel="next" title="Navigate to next part">
                <span class="pagination-label">Next</span>
                <span class="pagination-part-title"><%= @page_title_2 %></span>
              </a></li>
          </ul>
        </nav>
      </footer>

      <div class="print-link">
        <a href="/edge" rel="nofollow" target="_blank">Print
          entire guide</a></div>

    </div>
  </article>


  <div class="meta-data group">
    <!-- <div class="inner"> -->
    <p class="modified-date">Last updated: 27 October 2014</p>
    <!-- </div> -->
  </div>


</div>
