<% content_for :related_link do %>
  <%= erb :"partials/related_links_shop_around" %>
<% end %>

<% content_for :page_title do %>
  <%= @page_title %>
<% end %>

<% content_for :page_type do %>
  multi-page
<% end %>


<div class="article-container group">
  <aside>
    <div class="inner">
      <a href="#" class="show-all-parts">Show all parts of this guide</a>
      <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
        <%= erb :"articles/#{@folder}/nav" %>
      </nav>
    </div>
  </aside>
  <article role="article" class="group">
    <div class="inner">

      <header>
        <h1>3. <%= @page_title_3 %></h1>
      </header>

      <div id="govspeak">
        <p>To compare products where you take the money from your pension pot when you need it (income drawdown) you need to have knowledge of investing and be able to look out for fees. You might want to get help from a financial adviser with this.</p>

        <p>To compare income drawdown products, you’ll need to:</p>

        <ul>
          <li>understand investment terms and choices</li>
          <li>think about where you want to invest your money</li>
          <li>understand the options available on the product</li>
          <li>check investment management and administration fees</li>
        </ul>

        <p>You’ll also need to know how your <a href="/tax-on-your-pension/1">pension pot will be taxed</a> every time your take money out of it.</p>

        <div class="application-notice help-notice">
          <p>If your investments don’t perform well and you take too much money from your pot, you could run out of retirement income.</p>
        </div>

        <p>Income drawdown can be a complicated area and may involve transferring your pot to a different provider. If you’re not confident with investing it may not be right for you. You should consider speaking to a financial adviser before getting an income drawdown product.</p>

      </div>

      <footer>
        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul class="group">
            <li class="previous">
              <a href="2" rel="prev" title="Navigate to previous part">
                <span class="pagination-label">Previous </span>
                <span class="pagination-part-title"><%= @page_title_2 %></span>
              </a></li>
            <li class="next">
              <a href="4" rel="next" title="Navigate to next part">
                <span class="pagination-label">Next</span>
                <span class="pagination-part-title"><%= @page_title_4 %></span>
              </a></li>
          </ul>
        </nav>
      </footer>

      <div class="print-link">
        <a href="/edge" rel="nofollow" target="_blank">Print
          entire guide</a></div>

    </div>
  </article>


  <div class="meta-data group">
    <!-- <div class="inner"> -->
    <p class="modified-date">Last updated: 27 October 2014</p>
    <!-- </div> -->
  </div>


</div>
