<% content_for :related_link do %>
  <%= erb :"partials/related_links_shop_around" %>
<% end %>

<% content_for :page_title do %>
  <%= @page_title %>
<% end %>

<% content_for :page_type do %>
  multi-page
<% end %>


<div class="article-container group">
  <aside>
    <div class="inner">
      <a href="#" class="show-all-parts">Show all parts of this guide</a>
      <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
        <%= erb :"articles/#{@folder}/nav" %>
      </nav>
    </div>
  </aside>
  <article role="article" class="group">
    <div class="inner">

      <header>
        <h1>4. <%= @page_title_4 %></h1>
      </header>

      <div id="govspeak">
        <p>You may wish to speak to a financial adviser to help you compare retirement income products. The more information you have prepared when you meet with one, the more you will benefit. This includes information about the value of your pension pot and other income.
          An adviser will ask about your current financial position, your goals and how you feel about taking risks with your money. This will help them to recommend retirement income products that are right for you now and in the future. This list from the Financial Conduct Authority (FCA) explains what <a rel="external" href="http://www.fca.org.uk/consumers/financial-services-products/investments/financial-advice/what-an-adviser-might-ask-you">an adviser might ask you</a>.</p>

        <p>You should always ask an adviser if they’re independent or restricted. Restricted advisers are limited to certain products, providers or both. Independent advisers cover the whole market and are not restricted to one product type or provider.</p>

        <p>Getting financial advice costs money and the fees vary. You need to know what fees and charges you’ll pay for advice and when you’ll be expected to pay.
          You’ll pay a one-off fee if you see the adviser once, or a regular fee if the advice is ongoing. You can start by finding out if there is a fee for an initial consultation. Many offer this for free.
          Make sure your adviser is registered and approved by the FCA before you pay for advice. You can check the <a rel="external" href="http://www.fsa.gov.uk/register/home.do">FCA register</a> to make sure they are.
          Go to the Money Advice Service website where you can read more about <a rel="external" href="https://www.moneyadviceservice.org.uk/en/articles/choosing-a-financial-adviser">choosing a financial adviser.</a></p>

      </div>

      <footer>
        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul class="group">
            <li class="previous">
              <a href="3" rel="prev" title="Navigate to previous part">
                <span class="pagination-label">Previous </span>
                <span class="pagination-part-title"><%= @page_title_3 %></span>
              </a></li>
          </ul>
        </nav>
      </footer>

      <div class="print-link">
        <a href="/edge" rel="nofollow" target="_blank">Print
          entire guide</a></div>

    </div>
  </article>


  <div class="meta-data group">
    <!-- <div class="inner"> -->
    <p class="modified-date">Last updated: 27 October 2014</p>
    <!-- </div> -->
  </div>


</div>
