<% content_for :related_link do %>
  <%= erb :"partials/related_links_options" %>
<% end %>

<% content_for :page_title do %>
  <%= @page_title %>
<% end %>

<% content_for :page_type do %>
  multi-page
<% end %>


<div class="article-container group">
  <aside>
    <div class="inner">
      <a href="#" class="show-all-parts">Show all parts of this guide</a>
      <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
        <%= erb :"articles/your_options/nav" %>
      </nav>
    </div>
  </aside>
  <article role="article" class="group">
    <div class="inner">

      <header>
        <h1>2. <%= @your_option_page_title_2 %></h1>
      </header>

      <div id="govspeak">
        <p>When you reach retirement age or decide to retire you don’t automatically have to start taking money from your pension pot. You can leave the money invested and continue to pay into your pot, eg if you continue to work. This means your pension pot could grow further.</p>

        <p>Leaving your pension pot may give you a larger amount of money to last for a shorter amount of time. It will also give you more time to think about your pension options and how best you can use the money in the future.</p>

        <p>Whatever money you leave in your fund you can pass on tax free after you die.</p>

        <p>Usually the earliest you can start taking money from your pot is at the age of 55.</p>

      </div>

      <footer>
        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul class="group">
            <li class="previous">
              <a href="/your-options/overview" rel="prev" title="Navigate to previous part">
                <span class="pagination-label">Previous </span>
                <span class="pagination-part-title"><%= @your_option_page_title_1 %></span>
              </a></li>
            <li class="next">
              <a href="/your-options/3" rel="next" title="Navigate to next part">
                <span class="pagination-label">Next</span>
                <span class="pagination-part-title"><%= @your_option_page_title_3 %></span>
              </a></li>
          </ul>
        </nav>
      </footer>

      <div class="print-link">
        <a href="/edge" rel="nofollow" target="_blank">Print entire guide</a>
      </div>

    </div>
  </article>


  <div class="meta-data group">
    <!-- <div class="inner"> -->
    <p class="modified-date">Last updated: 04 November 2014</p>
    <!-- </div> -->
  </div>

</div>
