<% content_for :related_link do %>
  <%= erb :"partials/related_links_options" %>
<% end %>

<% content_for :page_title do %>
  <%= @page_title %>
<% end %>

<% content_for :page_type do %>
  multi-page
<% end %>


<div class="article-container group">
  <aside>
    <div class="inner">
      <a href="#" class="show-all-parts">Show all parts of this guide</a>
      <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
        <%= erb :"articles/your_options/nav" %>
      </nav>
    </div>
  </aside>
  <article role="article" class="group">
    <div class="inner">

      <header>
        <h1>2. <%= @your_option_page_title_2 %></h1>
      </header>

      <div id="govspeak">
        <p>There are 2 ways you can take your tax-free lump sum.</p>

        <h2>Take your lump sum in one go</h2>

        <p>
          You can take 25% of your whole pension pot tax-free.
          After that you have to <a href="/tax-on-your-pension/1">pay Income Tax</a>.
        </p>

        <p>
          For example, your pot is £60,000 and you take £15,000 tax-free in one go.
          Any payments you get from the remaining £45,0000 would be taxed.
        </p>

        <p>
          What you do with the remaining money is up to you. You can, for example,
          <a href="/your-options/5">buy an annuity</a> or set up <a href="/your-options/4">income drawdown</a>
          where you take money out as you need it. For both of these you would have to
          move the money from your current pension fund into a new one that offers these options.
        </p>

        <h2>Take smaller sums</h2>

        <p>
          You can take smaller cash sums from your pension pot - 25% of each sum would be tax-free.
        </p>

        <p>
          For example, your pot is £60,000 and you take £1,000 out as cash every month.
          £250 of this amount would be tax-free every time. The remaining £750 would be taxed.
        </p>

        <p>
          With this option you would leave your money in your existing pension fund and
          only take cash payments from it. You could also still pay into your existing fund.
          This option is a bit like a savings account.
        </p>

        <p>
          You’ll have to pay charges to your pension provider to run the fund for you.
        </p>
      </div>

      <footer>
        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul class="group">
            <li class="previous">
              <a href="/your-options/overview" rel="prev" title="Navigate to previous part">
                <span class="pagination-label">Previous </span>
                <span class="pagination-part-title"><%= @your_option_page_title_1 %></span>
              </a></li>
            <li class="next">
              <a href="/your-options/3" rel="next" title="Navigate to next part">
                <span class="pagination-label">Next</span>
                <span class="pagination-part-title"><%= @your_option_page_title_3 %></span>
              </a></li>
          </ul>
        </nav>
      </footer>

      <div class="print-link">
        <a href="/edge" rel="nofollow" target="_blank">Print entire guide</a>
      </div>

    </div>
  </article>


  <div class="meta-data group">
    <!-- <div class="inner"> -->
    <p class="modified-date">Last updated: 04 November 2014</p>
    <!-- </div> -->
  </div>

</div>
