<% content_for :proposition do %>
  <%= erb :"partials/proposition_static" %>
<% end %>

<% content_for :related_link do %>
  <%= erb :"partials/related_links_options" %>
<% end %>

<% content_for :page_title do %>
  <%= @page_title %>
<% end %>

<% content_for :page_type do %>
  multi-page
<% end %>


<div class="article-container group">
  <aside>
    <div class="inner">
      <a href="#" class="show-all-parts">Show all parts of this guide</a>
      <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
        <%= erb :"articles/your_options/nav" %>
      </nav>
    </div>
  </aside>
  <article role="article" class="group">
    <div class="inner">

      <header>
        <h1>4. <%= @your_option_page_title_4 %></h1>
      </header>

      <p>You can leave your pension pot invested and take money out when you need it. This is called 'income drawdown'. Your pension provider will invest the pot, for example in stocks and shares, and you tell them when you need money and how much.</p>

      <p>Any money you take from your pension as <a href="/tax-on-your-pension/1">income drawdown is taxed</a>.</p>

      <footer>
        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul class="group">
            <li class="previous">
              <a href="/your-options/3" rel="prev" title="Navigate to previous part">
                <span class="pagination-label">Previous </span>
                <span class="pagination-part-title"><%= @your_option_page_title_3 %></span>
              </a></li>
            <li class="next">
              <a href="/your-options/5" rel="next" title="Navigate to next part">
                <span class="pagination-label">Next</span>
                <span class="pagination-part-title"><%= @your_option_page_title_5 %></span>
              </a></li>
          </ul>
        </nav>
      </footer>

      <div class="print-link">
        <a href="/after-a-death/print" rel="nofollow" target="_blank">Print
          entire guide</a></div>

    </div>
  </article>


  <div class="meta-data group">
    <!-- <div class="inner"> -->
    <p class="modified-date">Last updated: 27 October 2014</p>
    <!-- </div> -->
  </div>


</div>
