<% content_for :related_link do %>
  <%= erb :"partials/related_links_options" %>
<% end %>

<% content_for :page_title do %>
  <%= @page_title %>
<% end %>

<% content_for :page_type do %>
  multi-page
<% end %>


<div class="article-container group">
  <aside>
    <div class="inner">
      <a href="#" class="show-all-parts">Show all parts of this guide</a>
      <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
        <%= erb :"articles/your_options/nav" %>
      </nav>
    </div>
  </aside>
  <article role="article" class="group">
    <div class="inner">

      <header>
        <h1>5. <%= @your_option_page_title_5 %></h1>
      </header>

      <p>
        You can move your pension pot into one or more funds that allow you to take money out when you need it.
        This is called '<span class="tooltip" title="Your pension pot stays invested and you take money out when you need it">income drawdown</span>'.
        Ask your pension provider how to do this.
      </p>

      <p>
        The money will be re-invested and could still grow. This depends on how
        well your investments do. Like with every investment there is the
        risk that your fund can go up or down, depending on the market.
      </p>

      <p>
        You then tell your provider when you need money and how much. They’ll pay it into
        your bank account after having taken off any <a href="/tax-on-your-pension/1">Income Tax</a> due.
      </p>

      <p>
        With <span class="tooltip" title="Your pension pot stays invested and you take money out when you need it">income drawdown</span> you can’t pay any more money into your pot.
        You’ll also pay charges to your provider to run the <span class="tooltip" title="Your pension pot stays invested and you take money out when you need it">income drawdown</span> fund for you.
      </p>

      <footer>
        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul class="group">
            <li class="previous">
              <a href="/your-options/4" rel="prev" title="Navigate to previous part">
                <span class="pagination-label">Previous </span>
                <span class="pagination-part-title"><%= @your_option_page_title_4 %></span>
              </a></li>
            <li class="next">
              <a href="/your-options/6" rel="next" title="Navigate to next part">
                <span class="pagination-label">Next</span>
                <span class="pagination-part-title"><%= @your_option_page_title_6 %></span>
              </a></li>
          </ul>
        </nav>
      </footer>

      <div class="print-link">
        <a href="/edge" rel="nofollow" target="_blank">Print entire guide</a>
      </div>

    </div>
  </article>


  <div class="meta-data group">
    <!-- <div class="inner"> -->
    <p class="modified-date">Last updated: 04 November 2014</p>
    <!-- </div> -->
  </div>

</div>
