<% content_for :related_link do %>
  <%= erb :"partials/related_links_options" %>
<% end %>

<% content_for :page_title do %>
  <%= @page_title %>
<% end %>

<% content_for :page_type do %>
  multi-page
<% end %>


<div class="article-container group">
  <aside>
    <div class="inner">
      <a href="#" class="show-all-parts">Show all parts of this guide</a>
      <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
        <%= erb :"articles/your_options/nav" %>
      </nav>
    </div>
  </aside>
  <article role="article" class="group">
    <div class="inner">

      <header>
        <h1>6. <%= @your_option_page_title_6 %></h1>
      </header>

      <div id="govspeak">
        <p>
          You can mix your pension options. You can do this at different times in your retirement.
          For example, you can take some cash from your pot first and buy an <span class="tooltip" title="Gives you a regular income in your retirement">annuity</span> later.
        </p>

        <div class="example">
          <p><strong>Example: mixing your options</strong></p>
          <p>You could mix these options at different points in your retirement.</p>

          <p>Your pension pot is £60,000. You decide to take 25% as tax-free cash = £15,000.</p>

          <p>You then use £20,000 to buy an annuity. This will give you an income for the rest of your life of about £900 a year.</p>

          <p>You leave £25,000 invested and take out about £5,000 a year for about 5 years.</p>
        </div>

        <p>
          To help you decide which option best suits your circumstances you can
          <a href="/appointments">set up a guidance appointment</a>.
        </p>
      </div>

      <footer>
        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul class="group">
            <li class="previous">
              <a href="/your-options/5" rel="prev" title="Navigate to previous part">
                <span class="pagination-label">Previous </span>
                <span class="pagination-part-title"><%= @your_option_page_title_5 %></span>
              </a></li>
          </ul>
        </nav>
      </footer>

      <div class="print-link">
        <a href="/edge" rel="nofollow" target="_blank">Print entire guide</a>
      </div>

    </div>
  </article>


  <div class="meta-data group">
    <!-- <div class="inner"> -->
    <p class="modified-date">Last updated: 27 October 2014</p>
    <!-- </div> -->
  </div>


</div>
