<ol>
  <li<% if @page == 'overview' %> class="active"<% end %>>
    <span class="part-number">1.</span>
    <% if @page == 'overview' %>
      <span>
        <%= @your_option_page_title_1 %>
      </span>
    <% else %>
      <a href="overview">
        <%= @your_option_page_title_1 %>
      </a>
    <% end %>
  </li>
  <li<% if @page == '2' %> class="active"<% end %>>
    <span class="part-number">2.</span>
    <% if @page == '2' %>
      <span>
        <%= @your_option_page_title_2 %>
      </span>
    <% else %>
      <a href="2">
        <%= @your_option_page_title_2 %>
      </a>
    <% end %>
  </li>
  <li<% if @page == '3' %> class="active"<% end %>>
    <span class="part-number">3.</span>
    <% if @page == '3' %>
      <span>
        <%= @your_option_page_title_3 %>
      </span>
    <% else %>
      <a href="3">
        <%= @your_option_page_title_3 %>
      </a>
    <% end %>
  </li>
</ol>
<ol start="4">
  <li<% if @page == '4' %> class="active"<% end %>>
    <span class="part-number">4.</span>
    <% if @page == '4' %>
      <span>
        <%= @your_option_page_title_4 %>
      </span>
    <% else %>
      <a href="4">
        <%= @your_option_page_title_4 %>
      </a>
    <% end %>
  </li>
  <li<% if @page == '5' %> class="active"<% end %>>
    <span class="part-number">5.</span>
    <% if @page == '5' %>
      <span>
        <%= @your_option_page_title_5 %>
      </span>
    <% else %>
      <a href="5">
        <%= @your_option_page_title_5 %>
      </a>
    <% end %>
  </li>
</ol>
