<% content_for :related_link do %>
  <%= erb :"partials/related_links_options" %>
<% end %>

<% content_for :page_title do %>
  <%= @page_title %>
<% end %>

<% content_for :page_type do %>
  multi-page
<% end %>

<div class="article-container group">
  <aside>
    <div class="inner">
      <a href="#" class="show-all-parts">Show all parts of this guide</a>
      <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
        <%= erb :"articles/your_options/nav" %>
      </nav>
    </div>
  </aside>
  <article role="article" class="group">
    <div class="inner">

      <header>
        <h1>1. <%= @your_option_page_title_1 %></h1>
      </header>

      <p>
        You can decide how to take the money from your pension pot when you
        retire. It doesn’t matter if your pot comes from a private pension
        that you set up yourself, a workplace pension you paid into, or both.
      </p>

      <p>
        There are different ways you can take the money from your pension pot.
      </p>

      <p>You can:</p>

      <ul>
        <li>take a tax-free lump sum</li>
        <li>take your whole pot as cash</li>
        <li>keep your pot invested while taking money from it (<span class="tooltip" title="Your pension pot stays invested and you take money out when you need it">income drawdown</span>)</li>
        <li>buy a guaranteed income (<span class="tooltip" title="Gives you a regular income in your retirement">annuity</span>)</li>
      </ul>

      <p>You can use a mixture of all 4 if you want.</p>

      <div class="application-notice info-notice">
        <p>
          You can also choose to do nothing and leave your pension pot
          untouched until you need the money.
        </p>
      </div>

      <footer>
        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul class="group">
            <li class="next">
              <a href="/your-options/2" rel="next" title="Navigate to next part">
                <span class="pagination-label">Next</span>
                <span class="pagination-part-title"><%= @your_option_page_title_2 %></span>
              </a></li>
          </ul>
        </nav>
      </footer>

      <div class="print-link">
        <a href="/after-a-death/print" rel="nofollow" target="_blank">Print entire guide</a>
      </div>

    </div>
  </article>


  <div class="meta-data group">
    <!-- <div class="inner"> -->
    <p class="modified-date">Last updated: 04 November 2014</p>
    <!-- </div> -->
  </div>

</div>
