<% content_for :related_link do %>
  <%= erb :"partials/related_links_pension_type" %>
<% end %>

<% content_for :page_title do %>
  <%= @page_title %>
<% end %>

<% content_for :page_type do %>
  multi-page
<% end %>


<div class="article-container group">
  <aside>
    <div class="inner">
      <a href="#" class="show-all-parts">Show all parts of this guide</a>
      <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
        <%= erb :"articles/#{@folder}/nav" %>
      </nav>
    </div>
  </aside>
  <article role="article" class="group">
    <div class="inner">

      <header>
        <h1>4. <%= @page_title_4 %></h1>
      </header>

      <div id="govspeak">
        <p>For most pensions based on how much has been paid into your pot, what you get when you retire depends on:</p>

        <ul>
          <li>the amount you’ve paid in</li>
          <li>how well the pension fund’s investments have done</li>
          <li>your age when you start getting the pension</li>
        </ul>

        <p>For pensions based on your salary, how much you get depends on:</p>

        <ul>
          <li>the number of years you’ve worked for the employer</li>
          <li>your salary (this could be your final salary or your average salary across your career with the employer)</li>
          <li>a formula used by your employer to calculate your retirement income</li>
        </ul>
      </div>

      <footer>
        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul class="group">
            <li class="previous">
              <a href="3" rel="prev" title="Navigate to previous part">
                <span class="pagination-label">Previous </span>
                <span class="pagination-part-title"><%= @page_title_3 %></span>
              </a></li>
            <li class="next">
              <a href="5" rel="next" title="Navigate to next part">
                <span class="pagination-label">Next</span>
                <span class="pagination-part-title"><%= @page_title_5 %></span>
              </a></li>
          </ul>
        </nav>
      </footer>

      <div class="print-link">
        <a href="/after-a-death/print" rel="nofollow" target="_blank">Print
          entire guide</a></div>

    </div>
  </article>


  <div class="meta-data group">
    <!-- <div class="inner"> -->
    <p class="modified-date">Last updated: 11 September 2014</p>
    <!-- </div> -->
  </div>


</div>
