<% content_for :proposition do %>
  <%= erb :"partials/proposition" %>
<% end %>

<% content_for :page_title do %>
  You’ve successfully booked a pension guidance session
<% end %>

<article role="article" class="group">


  <div class="inner-block">

    <div class="session-intro">
      <div class="print-link">
        <a href="#" rel="nofollow">Print your confirmation</a>
      </div>
      <p class="lede">An email has been sent to <%= @user.email %></p>
    </div>

    <div class="session-ticket">
      <div class="inner-block">
        <h2 class="heading-medium">Confirmation for your pension guidance session</h2>

        <h3 class="heading-medium">Your details</h3>

        <div class="grid-wrapper grid-demo">
          <div class="grid grid-1-2">
            <div class="inner-block">

              <h3 class="heading-small">Date</h3>

              <div class="session-ticket__highlight bold-large">
                <%= @appointment.date %>
              </div>


              <div class="session-ticket_time-duration-wrapper">

                <div class="session-ticket_time">
                  <h3 class="heading-small">Time</h3>

                  <div class="session-ticket__highlight bold-large">
                    <%= @appointment.time %>
                  </div>
                </div>

                <div class="session-ticket_duration">
                  <h3 class="heading-small">Session lasts</h3>

                  <div class="session-ticket__highlight bold-large">45 mins
                  </div>
                </div>
              </div>

              <h3 class="heading-small">Phone number you told us to call you on</h3>

              <div class="session-ticket__highlight bold-large">
                <%= @user.phone %>
              </div>

              <h2 class="heading-medium">How to cancel</h2>

              <p>
                Send an email with your name and the date and time of your session to:
                <a href="mailto:cancel-pension-session@hmt.gov.uk">cancel-pension-session@hmt.gov.uk</a>
              </p>

            </div>
          </div>
          <div class="grid grid-1-2">
            <div class="inner-block">
              <h3 class="heading-small">For your security</h3>

              <p>Your memorable word: <%= @user.secret %></p>

              <p>
                Our pension expert will repeat this at the beginning of the call so you know it’s us.
                We’ll never ask you for your bank details or to buy a product.
              </p>

              <h3 class="heading-small">What you need for your session</h3>

              <p>You'll need to have ready:</p>

              <ul class="list-bullet">
                <li>the value of your pension pots</li>
                <li>other income you have, eg from work, property, investments</li>
                <li>your pension statements</li>
              </ul>

              <p>This will help our experts to prepare for your call.</p>

              <h3 class="heading-small">If you don’t answer the call</h3>

              <p>
                We can’t call you back. You’ll need to book another session.
              </p>

              <h3 class="heading-small">What to do next</h3>

              <p>
                We recommend you <a href="/">read our pension guides</a> before the session.
                It will help you understand your pensions options.
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
