<% content_for :proposition do %>
  <%= erb :"partials/proposition" %>
<% end %>

<% content_for :page_title do %>
  Your contact details
<% end %>

<div class="inner-block">
  <form action="/appointments/phone/contact-details" method="post" class="form">
    <div class="form-group">
      <label class="form-label-bold" for="name">First name</label>
      <input type="text" class="form-control-1-4" id="name" name="user[name]" value="<%= @user.name %>">
    </div>

    <div class="form-group">
      <label class="form-label-bold" for="surname">Last name</label>
      <input type="text" class="form-control-1-4" id="surname" name="user[surname]" value="<%= @user.surname %>">
    </div>

    <div class="form-group">
      <label class="form-label-bold" for="email">Email</label>
      <p class="form-hint">We'll send you a reminder of your appointment details.</p>
      <input type="text" class="form-control" id="email" name="user[email]" value="<%= @user.email %>">
    </div>

    <div class="form-group">
      <label class="form-label-bold" for="phone">Phone number to call you on</label>
      <p class="form-hint">If you don’t answer you’ll need to book another appointment.</p>
      <input type="text" class="form-control-1-4" id="phone" name="user[phone]" value="<%= @user.phone %>">
    </div>

    <div class="form-group">
      <label class="form-label-bold" for="secret">Memorable word</label>
      <p class="form-hint">Our pensions expert will repeat this word when they call so you know it’s us.</p>
      <input type="text" class="form-control-1-4" id="secret" name="user[secret]" value="<%= @user.secret %>">
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>
  </form>
</div>
