<% content_for :proposition do %>
  <%= erb :"partials/proposition" %>
<% end %>

<% content_for :page_title do %>
  Check your booking
<% end %>

<article role="article" class="group">

  <div class="inner-block">
    <p class="lede text">Review these details carefully before confirming.</p>

    <div class="divider">
      <div class="grid-wrapper">
        <div class="grid grid-2-3">
          <div class="inner-block">
            <h2>Your details</h2>
            <p>
              <span class="info-label">First name:</span>
              <span class="info-data"><%= @user.name %></span>
            </p>

            <p>
              <span class="info-label">Last name:</span>
              <span class="info-data"><%= @user.surname %></span>
            </p>

            <p>
              <span class="info-label">Email:</span>
              <span class="info-data"><%= @user.email %></span>
            </p>

            <p>
              <span class="info-label">Phone:</span>
              <span class="info-data"><%= @user.phone %></span>
            </p>
          </div>
        </div>
        <div class="grid grid-1-3">
          <div class="inner-block">
            <p class="edit-link"><a href="/appointments/phone/contact-details">Change your details</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="divider divider--last">
      <div class="grid-wrapper">
        <div class="grid grid-2-3">
          <div class="inner-block">
            <h2>Your appointment</h2>

            <p>
              <span class="info-label">Date and time:</span>
              <span class="info-data"><%= @appointment.slot %></span>
            </p>

            <p>
              <span class="info-label">Memorable word:</span>
              <span class="info-data"><%= @user.secret %></span>
            </p>

          </div>
        </div>
        <div class="grid grid-1-3">
          <div class="inner-block">
            <p class="edit-link"><a href="/appointments/phone/availability">Choose a different date or time</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="inner-block">
    <form action="/appointments/phone/confirm" method="post" class="form">
      <input type="submit" class="button" value="Complete booking">
    </form>
  </div>
</article>
