<% content_for :page_title do %>
  <%= @page_title %>
<% end %>

<% content_for :page_type do %>
  multi-page
<% end %>


<div class="article-container group">
  <aside>
    <div class="inner">
      <a href="#" class="show-all-parts">Show all parts of this guide</a>
      <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
        <%= erb :"your_options/nav" %>
      </nav>
    </div>
  </aside>
  <article role="article" class="group">
    <div class="inner">

      <header><h1>2. <%= @your_option_page_title_2 %></h1>
      </header>
      <p>You can take 25% of your pension pot as a tax-free lump sum. You have to be at least 55 to do this.</p>

      <p>Once you've taken a lump sum you can't change this decision. You should think about what you’ll use the cash for and make sure you’ll have enough money for the coming years of your retirement.</p>

      <p>If you take your whole pension pot as cash you might have to pay higher tax, depending on how much other income you have.</p>

      <footer>
        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul class="group">
            <li class="previous">
              <a href="/your-options/overview" rel="prev" title="Navigate to previous part">
                <span class="pagination-label">Previous </span>
                <span class="pagination-part-title"><%= @your_option_page_title_1 %></span>
              </a></li>
            <li class="next">
              <a href="/your-options/3" rel="next" title="Navigate to next part">
                <span class="pagination-label">Next</span>
                <span class="pagination-part-title"><%= @your_option_page_title_2 %></span>
              </a></li>
          </ul>
        </nav>
      </footer>

      <div class="print-link">
        <a href="/after-a-death/print" rel="nofollow" target="_blank">Print
          entire guide</a></div>

    </div>
  </article>


  <div class="meta-data group">
    <!-- <div class="inner"> -->
    <p class="modified-date">Last updated: 11 September 2014</p>
    <!-- </div> -->
  </div>


</div>
